.mep4l8lgdtwf0tob-1 {
  position: absolute;
  top: 72px;
  left: 414px;
  width: 1400px;
  height: 885px;
  background-image: url(/public/0mep4l8lgdtwf0tob1@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.fastest-secure {
  margin: 0;
}
.fastest-secure-container {
  margin: 0;
  position: absolute;
  top: 414px;
  left: 102px;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
  display: inline-block;
  width: 774px;
  height: 198px;
}
.get-started-child {
  position: absolute;
  top: 0;
  left: 6px;
  border-radius: var(--br-6xl);
  background-color: var(--color-mediumspringgreen);
  width: 259px;
  height: 72px;
}
.connect-wallet8 {
  position: absolute;
  top: 18px;
  left: 12px;
  font-size: var(--font-size-13xl);
  display: inline-block;
  font-family: var(--font-inria-serif);
  color: var(--color-black);
  text-align: center;
  width: 247px;
  height: 54px;
}
.get-started {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 882px;
  left: 95px;
  width: 265px;
  height: 72px;
}
.guarantee,
.safe-payment,
.support,
.the-most-trusted-container {
  position: absolute;
  top: 665px;
  left: 102px;
  font-size: var(--font-size-5xl);
  display: inline-block;
  width: 612px;
  height: 126px;
}
.guarantee,
.safe-payment,
.support {
  top: 819px;
  left: 147px;
  font-size: var(--font-size-xl);
  width: 180px;
  height: 27px;
}
.safe-payment,
.support {
  left: 354px;
}
.support {
  left: 535px;
}
.vector-icon35,
.vector-icon36,
.vector-icon37,
.vector-icon38 {
  position: absolute;
  height: 0.89%;
  width: 2.22%;
  top: 25.89%;
  right: 75.9%;
  bottom: 73.23%;
  left: 21.88%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vector-icon36,
.vector-icon37,
.vector-icon38 {
  top: 25.95%;
  right: 63.06%;
  bottom: 73.16%;
  left: 34.72%;
}
.vector-icon37,
.vector-icon38 {
  top: 25.89%;
  right: 90.69%;
  bottom: 73.23%;
  left: 7.08%;
}
.vector-icon38 {
  height: 58.33%;
  width: 20.69%;
  top: 22.22%;
  right: 0;
  bottom: 19.44%;
  left: 79.31%;
}
.learn-more,
.learn-more1 {
  position: absolute;
  height: 36px;
}
.learn-more1 {
  top: 0;
  left: 0;
  display: inline-block;
  width: 144px;
}
.learn-more {
  top: 900px;
  left: 378px;
  width: 174px;
  font-size: var(--font-size-5xl);
}
.off-child {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-xl);
  background-color: #373737;
  width: 363px;
  height: 73px;
}
.off-for-new {
  position: absolute;
  top: 19px;
  left: 21px;
  font-size: var(--font-size-9xl);
  font-weight: 600;
  font-family: var(--font-inter);
  color: var(--color-white);
  text-align: center;
  display: inline-block;
  width: 339px;
  height: 54px;
  mix-blend-mode: lighten;
}
.off {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 313px;
  left: 105px;
  width: 363px;
  height: 73px;
}
.image-3-icon {
  position: absolute;
  top: 1094px;
  left: 103.19px;
  border-radius: 49px;
  width: 343px;
  height: 382px;
  object-fit: cover;
}
.staking2 {
  margin: 0;
  top: 1476px;
  left: 115.69px;
  font-size: inherit;
  font-family: inherit;
  width: 318px;
}
.exchange2,
.faucet2,
.staking2 {
  position: absolute;
  font-weight: 700;
  text-align: center;
  display: inline-block;
  height: 90px;
}
.exchange2 {
  margin: 0;
  top: 2052px;
  left: 912.44px;
  font-size: inherit;
  font-family: inherit;
  width: 342px;
}
.faucet2 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  top: 2592px;
  left: 103.19px;
  font-size: var(--font-size-45xl);
  font-family: var(--font-inria-serif);
  color: var(--color-white);
  width: 366px;
}
.image-5-icon {
  position: absolute;
  top: 1656px;
  left: 889.44px;
  border-radius: 86px;
  width: 419px;
  height: 369px;
  object-fit: cover;
}
.a-crypto-faucet,
.a-cryptocurrency-exchange,
.staking-is-when {
  margin: 0;
  position: absolute;
  top: 1129.5px;
  left: 563.19px;
  font-size: var(--font-size-13xl);
  font-weight: 700;
  font-family: inherit;
  display: inline-block;
  width: 717px;
  height: 252px;
}
.a-crypto-faucet,
.a-cryptocurrency-exchange {
  top: 2224.18px;
  left: 642.66px;
  width: 599.34px;
  height: 203px;
}
.a-cryptocurrency-exchange {
  top: 1664px;
  left: 231.94px;
  width: 569px;
  height: 198px;
}
.start-staking-child {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-11xl);
  background-color: var(--color-mediumspringgreen);
  width: 216px;
  height: 72px;
}
.start-staking1 {
  position: absolute;
  top: 18px;
  left: 9px;
  font-size: var(--font-size-13xl);
  display: inline-block;
  font-family: var(--font-inria-serif);
  color: var(--color-black);
  text-align: left;
  width: 198px;
  height: 54px;
}
.start-staking {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 1376px;
  left: 554.19px;
  width: 216px;
  height: 72px;
}
.image-6-icon {
  position: absolute;
  top: 2204px;
  left: 109.19px;
  width: 485px;
  height: 342px;
  object-fit: cover;
}
.start-exchange-child {
  top: 0;
  left: 0;
  border-radius: var(--br-11xl);
  background-color: var(--color-mediumspringgreen);
  height: 72px;
}
.start-exchange,
.start-exchange-child,
.try-faucet {
  position: absolute;
  width: 290px;
}
.start-exchange {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  top: 1908px;
  left: 516px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  height: 72px;
}
.try-faucet {
  top: 14px;
  left: 0;
  font-size: var(--font-size-13xl);
  display: inline-block;
  font-family: var(--font-inria-serif);
  color: var(--color-black);
  text-align: center;
  height: 45px;
}
.start-exchange2 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 2448px;
  left: 647.19px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  width: 290px;
  height: 72px;
}
.desktop-2 {
  position: absolute;
  top: 0;
  left: 6px;
  background-color: var(--color-black);
  width: 1440px;
  height: 3048px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-45xl);
  color: var(--color-white);
  font-family: var(--font-inria-serif);
}
.rectangle-input {
  border: 0;
  background-color: var(--color-darkslategray-100);
  position: absolute;
  top: 0;
  left: 353px;
  border-radius: var(--br-11xl);
  width: 723px;
  height: 74px;
}
.navbar-child5,
.navbar-child6 {
  position: absolute;
  top: 0;
  left: 353px;
  border-radius: var(--br-6xl);
  background-color: var(--color-mediumspringgreen);
  width: 155.27px;
  height: 74px;
}
.navbar-child6 {
  top: 2px;
  left: 1151px;
  border-radius: var(--br-11xl);
  background-color: var(--color-darkslategray-100);
  width: 255px;
  height: 72px;
}
.vector-icon39 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.git,
.noti {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 18px;
  left: 1190px;
  width: 43px;
  height: 45.36px;
}
.noti {
  top: 20px;
  left: 1259px;
  width: 39px;
  height: 42.94px;
}
.navbar-child7 {
  position: absolute;
  top: 100px;
  left: 0;
  width: 1440px;
  height: 3px;
}
.digitalbits2,
.exchange3,
.staking3 {
  position: absolute;
  display: inline-block;
}
.digitalbits2 {
  margin: 0;
  top: 18px;
  left: 108.89px;
  font-size: inherit;
  font-weight: 800;
  font-family: inherit;
  width: 219px;
  height: 73px;
}
.exchange3,
.staking3 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  top: 16.5px;
  left: 547px;
  font-size: var(--font-size-9xl);
  font-weight: 700;
  font-family: var(--font-inter);
  color: var(--color-white);
  text-align: left;
  width: 138px;
  height: 47px;
}
.staking3 {
  top: 18px;
  left: 744px;
  text-align: center;
  width: 120px;
  height: 35px;
}
.vector-icon41,
.vector-icon42,
.vector-icon43,
.vector-icon44,
.vector-icon45 {
  position: absolute;
  height: 100.14%;
  width: 100.1%;
  top: -0.14%;
  right: -0.1%;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vector-icon42,
.vector-icon43,
.vector-icon44,
.vector-icon45 {
  height: 30.13%;
  width: 93.36%;
  top: 4.86%;
  right: 3.3%;
  bottom: 65.01%;
  left: 3.34%;
}
.vector-icon43,
.vector-icon44,
.vector-icon45 {
  top: 64.86%;
  right: 3.24%;
  bottom: 5%;
  left: 3.4%;
}
.vector-icon44,
.vector-icon45 {
  top: 34.86%;
  right: 3.27%;
  bottom: 35%;
  left: 3.37%;
}
.vector-icon45 {
  height: 30%;
  width: 20%;
  top: 34.96%;
  right: 40.03%;
  bottom: 35.04%;
  left: 39.97%;
}
.group-icon3,
.group-icon4,
.group-icon5,
.vector-icon46,
.vector-icon47 {
  position: absolute;
  height: 27%;
  width: 18%;
  top: 36.46%;
  right: 41.02%;
  bottom: 36.54%;
  left: 40.98%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.group-icon3,
.group-icon4,
.group-icon5,
.vector-icon47 {
  height: 25.36%;
  width: 14.65%;
  top: 37.29%;
  right: 42.7%;
  bottom: 37.36%;
  left: 42.65%;
}
.group-icon3,
.group-icon4,
.group-icon5 {
  height: 0.65%;
  width: 16.9%;
  top: 11.63%;
  right: 4.51%;
  bottom: 87.72%;
  left: 78.58%;
}
.group-icon4,
.group-icon5 {
  height: 12.7%;
  width: 14.65%;
  top: 43.97%;
  right: 59.16%;
  bottom: 43.33%;
  left: 26.19%;
}
.group-icon5 {
  height: 21.97%;
  width: 8.48%;
  top: 73.43%;
  right: 31.92%;
  bottom: 4.6%;
  left: 59.6%;
}
.faucet3,
.indian-flag2 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
}
.indian-flag2 {
  position: absolute;
  top: 18.06px;
  left: 1322px;
  border-radius: var(--br-429xl);
  width: 49.95px;
  height: 42.01px;
  overflow: hidden;
  transform: rotate(-0.07deg);
  transform-origin: 0 0;
}
.faucet3 {
  top: 18px;
  left: 888px;
  font-size: var(--font-size-9xl);
  font-weight: 700;
  font-family: var(--font-inter);
  color: var(--color-white);
  text-align: center;
  display: inline-block;
  width: 152px;
  height: 37px;
}
.faucet3,
.home,
.navbar2 {
  position: absolute;
}
.home {
  margin: 0;
  top: 19px;
  left: 392px;
  font-size: var(--font-size-9xl);
  font-weight: 700;
  font-family: inherit;
  color: var(--color-black);
  text-align: left;
  display: inline-block;
  width: 155px;
  height: 42px;
}
.navbar2 {
  top: 23px;
  left: 6px;
  width: 1440px;
  height: 98px;
  text-align: center;
  font-size: var(--font-size-13xl);
  color: var(--color-white);
  font-family: var(--font-inter);
}
.footer-inner {
  position: absolute;
  top: -0.5px;
  left: -14.5px;
  border-top: 1px solid var(--color-dimgray);
  box-sizing: border-box;
  width: 1441px;
  height: 1px;
}
.all-rights-reserved2,
.b2 {
  position: absolute;
  top: 134px;
  left: 641px;
  display: inline-block;
  width: 216px;
  height: 27px;
}
.all-rights-reserved2 {
  top: 99px;
  left: 1022.46px;
  width: 432px;
  height: 54px;
}
.contact-us2 {
  top: 52.14px;
  left: 659px;
  width: 180px;
  height: 36px;
}
.about-us2,
.arnavrangwanigmailcom2,
.contact-us2 {
  position: absolute;
  display: inline-block;
}
.about-us2 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  top: 93.05px;
  left: 361.18px;
  font-size: var(--font-size-xl);
  font-weight: 700;
  font-family: var(--font-inter);
  color: var(--color-white);
  text-align: center;
  width: 172px;
  height: 36px;
}
.arnavrangwanigmailcom2 {
  top: 92.42px;
  left: 588.5px;
  width: 321px;
  height: 25.58px;
}
.vector-icon48 {
  position: absolute;
  height: 22.55%;
  width: 2.99%;
  top: 42.59%;
  right: 25%;
  bottom: 34.85%;
  left: 72.01%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.instaf2,
.linkdin-f2 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  height: 56.87px;
}
.linkdin-f2 {
  position: absolute;
  top: 82.62px;
  left: 97.82px;
  width: 49px;
}
.instaf2 {
  top: 83.62px;
  left: 179.91px;
  width: 52px;
}
.footer2,
.gitf2,
.instaf2 {
  position: absolute;
}
.gitf2 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  top: 83.62px;
  left: 265px;
  width: 49px;
  height: 56.87px;
}
.footer2 {
  top: 2840px;
  left: 0;
  width: 1440px;
  height: 208px;
  text-align: center;
  font-size: var(--font-size-xl);
  color: var(--color-white);
  font-family: var(--font-inter);
}
.image-22 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 14.37px;
  left: 19.54px;
  width: 108.1px;
  height: 99.63px;
  background-image: url(/public/image22@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.home-page {
  position: relative;
  width: 100%;
  height: 3048px;
  background-color: #000;
}
